<header class="header">
  <div class="header__top top-header">
    <div class="top-header__container ">
      <a href="index.html" class="top-header__logo">
        <img class="logo-header" src="/logo.png" width="125px" alt="Логотип" />
      </a>

      <ul class="top-header__phones phones-top">
        <li class="phones-top__item"><a href="tel:78126605054" class="phones-top__link">(+380)-9944-777-60</a></li>
        <li class="phones-top__item"><a href="tel:79581119503" class="phones-top__link">(+380)-9980-777-60</a></li>
        <li class="phones-top__item_grey">Пн-вс: с 10:00 до 21:00</li>
      </ul>
      <div class="top-header__actions actions-top-header ">
        <button type="submit" class="actions-top-header__search search-header__button svg-header _icon-search"></button>
        <button class="actions-top-header__like svg-header _icon-like"><span>3</span></button>
        <a href="#" class="actions-top-header__compare svg-header _icon-compare"></a>
        <a href="#" class="actions-top-header__cart svg-header _icon-cart"><span>1</span></a>
        <a href="#popup" class="actions-top-header__log-in popup-link">Войти</a>
      </div>
      <div class="header__hamburger-menu"><span class="menu__icon"></span></div>
    </div>
    <div class="serch-input ">
      <input data-flip="false" type="search" name="search" class="serch-input__btn" placeholder="Поиск" autocomplete="off">
    </div>
  </div>
  <div class="header__body body-header">
    <div class="body-header__container menu-header-body">
      <div class="body-header__catalog catalog-header">
        <ul class="catalog-header__list">
          <li class="catalog-header__item ">
            <a href="catalog.html" class="catalog-header__link _icon-menu"><span>Каталог товаров</span></a>
            <span class="menu__arrow arrow"></span>
            <ul class="sub-menu__list">
              <li class="sub-menu__item"><a href="#" data-goto="" class="sub-menu__link"><picture><source srcset="app/img/hoverboard.webp" type="image/webp"><img class="sub-menu__img" src="../src/ihoverboard.png" alt="Гироскутеры"></picture><span>Гироскутеры</span></a></li>
              <li class="sub-menu__item"><a href="#" data-goto="" class="sub-menu__link"><picture><source srcset="app/img/electricScooter.webp" type="image/webp"><img class="sub-menu__img" src="../img/electricScooter.png" alt="Электросамокаты"></picture><span>Электросамокаты</span></a></li>
              <li class="sub-menu__item"><a href="#" data-goto="" class="sub-menu__link"><picture><source srcset="app/img/sonowheels.webp" type="image/webp"><img class="sub-menu__img" src="../img/sonowheels.png" alt="Моноколеса"></picture><span>Моноколеса</span></a></li>
              <li class="sub-menu__item"><a href="#" data-goto="" class="sub-menu__link"><picture><source srcset="app/img/segways.webp" type="image/webp"><img class="sub-menu__img" src="../img/segways.png" alt="Сигвеи и мини-сигвеи"></picture><span>Сигвеи</span></a></li>
              <li class="sub-menu__item"><a href="#" data-goto="" class="sub-menu__link"><picture><source srcset="app/img/electric-scooter.webp" type="image/webp"><img class="sub-menu__img" src="../img/electric-scooter.png" alt="лектроскутеры"></picture><span>Электроскутеры</span></a></li>
              <li class="sub-menu__item"><a href="#" data-goto="" class="sub-menu__link"><picture><source srcset="app/img/electricBike.webp" type="image/webp"><img class="sub-menu__img" src="../img/electricBike.png" alt="Электровелосипеды"></picture><span>Электровелосипеды</span></a></li>
            </ul>
          </li>
        </ul>
      </div>
      <nav class="body-header__menu menu-header">
        <ul class="menu-header__list">
          <li class="menu-header__item"><a href="home2.html" class="menu-header__link">О компании</a></li>
          <li class="menu-header__item"><a href="#" class="menu-header__link">Акции</a></li>
          <li class="menu-header__item"><a href="#" class="menu-header__link">Рассрочка 0|0|18</a></li>
          <li class="menu-header__item"><a href="#" class="menu-header__link">Сервис и гарантия</a></li>
          <li class="menu-header__item"><a href="#" class="menu-header__link">Контакты</a></li>
          <li class="menu-header__item"><a href="#" class="menu-header__link">Опт/дропшиппинг</a></li>
        </ul>
      </nav>
    </div>
  </div>


</header>
