<section class="page-news">
  <div class="page-news__container">
    <div class="page-news__header news-page-header">
      <h2 class="news-page-header__title">Новости</h2>
      <a href="#" class="news-page-header__more more">Читать все</a>
    </div>
    <div class="page-news__body news-page-body">
      <a href="#" class="news-page-body__shop shop-news">
        <div class=" ">
          <h3 class="shop-news__title">Открытие нового магазина</h3>
          <p class="shop-news__describe">Разнообразный и богатый опыт говорит нам, что консультация
            с широким активом требует от нас анализа анализа существующих паттернов поведения</p>
          <div class="shop-news__more more-news">
            <span class="more-news__link more">Подробнее</span>
            <div class="more-news__date">05 июня 2021</div>
          </div>
        </div>
      </a>

      <a class="news-page-body__work work-news">
        <h3 class="work-news__title">Работа в праздничные дни</h3>
        <p class="work-news__describe">Принимая во внимание показатели успешности,
          социально-экономическое развитие играет определяющее значение для вывода текущих активов</p>
        <div class="work-news__more more-news">
          <span class="more-news__link more">Подробнее</span>
          <div class="more-news__date">05 июня 2021</div>
        </div>
      </a>
    </div>
  </div>
</section>
