<section class="page-news">
  <div class="page-news__container">
    <div class="page-news__header news-page-header">
      <h2 class="news-page-header__title">Новини</h2>
      <a href="#" class="news-page-header__more more">Читати все</a>
    </div>
    <div class="page-news__body news-page-body">
      <a href="#" class="news-page-body__shop shop-news">
        <div class=" ">
          <h3 class="shop-news__title">Відкриття нового магазину</h3>
          <p class="shop-news__describe">Різноманітний і багатий досвід говорить нам, що консультація
            з широким активом вимагає від нас аналізу аналізу існуючих патернів поведінки</p>
          <div class="shop-news__more more-news">
            <span class="more-news__link more">Докладніше</span>
            <div class="more-news__date">05 червня 2025</div>
          </div>
        </div>
      </a>

      <a class="news-page-body__work work-news">
        <h3 class="work-news__title">Робота у святкові дні</h3>
        <p class="work-news__describe">Беручи до уваги показники успішності,
          соціально-економічний розвиток відіграє визначальне значення для виведення поточних активів</p>
        <div class="work-news__more more-news">
          <span class="more-news__link more">Докладніше</span>
          <div class="more-news__date">05 червня 2025</div>
        </div>
      </a>
    </div>
  </div>
</section>
