<section class="page__slider slider ">
  <div class="slider__container slider-block">
    <div class="slider-block__body">
      <div class="swiper attempt">
        <div class="swiper-wrapper  slider-block__items">
          <div class="swiper-slide slider-block__item item-slider">
            <div class="item-slider__info info-slider">
              <div class="info-slider__title"> <a href="#">Apple Watch<br>Series 6 </a></div>
              <div class="info-slider__describe"><a href="#">уже в наличии</a></div>
            </div>
            <div class="item-slider__media">
              <a href="#"><picture><source srcset="/watch1.webp" type="image/webp"><img class="media__img" src="/watch1.png" alt="watch"></picture></a>
            </div>
            <picture><source srcset="/waves.webp" type="image/webp"><img class="item-slider__waves" src="/waves.png" alt="waves"></picture>
          </div>
          <div class="swiper-slide slider-block__item item-slider">
            <div class="item-slider__info info-slider">
              <div class="info-slider__title"> <a href="#">Apple Watch<br>Series 5 </a> </div>
              <div class="info-slider__describe"><a href="#">уже в наличии</a></div>
            </div>
            <div class="item-slider__media">
              <a href="#"><picture><source srcset="/watch1.webp" type="image/webp"><img class="media__img" src="/watch1.png" alt="watch"></picture></a>
            </div>
            <picture><source srcset="/waves.webp" type="image/webp"><img class="item-slider__waves" src="/waves.png" alt="waves"></picture>
          </div>
          <div class="swiper-slide slider-block__item item-slider">
            <div class="item-slider__info info-slider">
              <div class="info-slider__title"> <a href="#">Apple Watch<br>Series 4 </a></div>
              <div class="info-slider__describe"><a href="#">уже в наличии</a></div>
            </div>
            <div class="item-slider__media">
              <a href="#"><picture><source srcset="/watch1.webp" type="image/webp"><img class="media__img" src="/watch1.png" alt="watch"></picture></a>
            </div>
            <picture><source srcset="/waves.webp" type="image/webp"><img class="item-slider__waves" src="/waves.png" alt="waves"></picture>
          </div>
          <div class="swiper-slide slider-block__item item-slider">
            <div class="item-slider__info info-slider">
              <div class="info-slider__title"> <a href="#">Apple Watch<br>Series 3 </a></div>
              <div class="info-slider__describe"><a href="#">уже в наличии</a></div>
            </div>
            <div class="item-slider__media media">
              <a href="#"><picture><source srcset="/watch1.webp" type="image/webp"><img class="media__img" src="/watch1.png" alt="watch"></picture></a>
            </div>
            <picture><source srcset="/waves.webp" type="image/webp"><img class="item-slider__waves" src="/waves.png" alt="waves"></picture>
          </div>
          <div class="swiper-slide slider-block__item item-slider">
            <div class="item-slider__info info-slider">
              <div class="info-slider__title"> <a href="#">Apple Watch<br>Series 2</a></div>
              <div class="info-slider__describe"><a href="#">уже в наличии</a></div>
            </div>
            <div class="item-slider__media">
              <a href="#"><picture><source srcset="/watch1.webp" type="image/webp"><img class="media__img" src="/watch1.png" alt="watch"></picture></a>
            </div>
            <picture><source srcset="/waves.webp" type="image/webp"><img class="item-slider__waves" src="/waves.png" alt="waves"></picture>
          </div>
        </div>
        <div class="swiper-pagination"></div>
      </div>
    </div>
  </div>
</section>
