<footer class="footer">
  <div class="footer__container">
    <div class="footer__inner inner-footer">
      <nav class="inner-footer__menu menu-footer">
        <ul class="menu-footer__list_main">
          <li class="menu-footer__item_logo"> <a href="#" class="menu-footer__link">
            <img class="logo-header" src="/logo.png" width="140px" alt="Логотип" />
          </a></li>
          <li class="menu-footer__item_tel footer-contact">
            <ul class="footer-contact__list">
              <li class="footer-contact__item"><a href="#"
                                                  class="footer-contact__link">(+380)-9944-777-60</a></li>
              <li class="footer-contact__item "><a href="#" class="footer-contact__link footer-contact__link_grey">
                Пн-нд: з 10:00 до 21:00
              </a></li>
            </ul>
          </li>

        </ul>
      </nav>
      <nav data-spollers="580,max" class="inner-footer__menu menu-footer">
        <button  data-spoller class="menu-footer__btn">Для клієнта</button>
        <ul class="menu-footer__list menu-for-clients">
          <li class="menu-footer__item"><a href="#" class="menu-footer__link">Як купити</a></li>
          <li class="menu-footer__item"><a href="#" class="menu-footer__link">Доставка та оплата</a></li>
          <li class="menu-footer__item"><a href="#" class="menu-footer__link">Політика конфіденційності</a>
          </li>
          <li class="menu-footer__item"><a href="#" class="menu-footer__link">Питання та відповіді (F.A.Q.)</a>
          </li>
          <li class="menu-footer__item"><a href="#" class="menu-footer__link">Сервіс та гарантія</a></li>
        </ul>
      </nav>
      <nav data-spollers="580,max" class="inner-footer__menu menu-footer ">
        <button data-spoller class="menu-footer__btn">Про магазин</button>
        <ul class="menu-footer__list menu-shop ">
          <li class="menu-footer__item"><a href="#" class="menu-footer__link">Відгуки</a></li>
          <li class="menu-footer__item"><a href="#" class="menu-footer__link">Наші переваги</a></li>
          <li class="menu-footer__item"><a href="#" class="menu-footer__link">Історія компанії</a></li>
        </ul>
      </nav>
    </div>
    <div class="footer__info info-footer">
      <hr class="info-footer__line">
      <div class="info-footer__block block-info-footer">
        <div class="block-info-footer__media media-info">
          <a href="#"  class="media-info__icon media-info__twitter _icon-twitter"></a>
          <a href="#"  class="media-info__icon media-info__facebook _icon-facebook"></a>
          <a href="#"  class="media-info__icon media-info__vk _icon-vk"></a>
          <a href="#"  class="media-info__icon media-info__instagram _icon-instagram"></a>
        </div>
      </div>
    </div>
  </div>
</footer>
