<footer class="footer">
  <div class="footer__container">
    <div class="footer__inner inner-footer">
      <nav class="inner-footer__menu menu-footer">
        <ul class="menu-footer__list_main">
          <li class="menu-footer__item_logo"> <a href="#" class="menu-footer__link">
            <img class="logo-header" src="/logo.png" width="125px" alt="Логотип" />
          </a></li>
          <li class="menu-footer__item_tel footer-contact">
            <ul class="footer-contact__list">
              <li class="footer-contact__item"><a href="#"
                                                  class="footer-contact__link">(+380)-9944-777-60</a></li>
              <li class="footer-contact__item"><a href="#"
                                                  class="footer-contact__link">(+380)-9980-777-60</a></li>
              <li class="footer-contact__item "><a href="#" class="footer-contact__link footer-contact__link_grey">Пн-вс:
                с 10:00 до 21:00</a></li>
            </ul>
          </li>
          <li class="menu-footer__item_location footer-location">
            <ul class="footer-location__list">
              <li class="footer-location__item"><a href="#" class="menu-footer__link">Проспект Стачек
                67 к.5</a></li>
              <li class="footer-location__item"><a href="#" class="menu-footer__link">Лиговский проспект
                205</a></li>
              <li class="footer-location__item"><a href="#" class="menu-footer__link">Гражданский
                проспект, 116 к.5</a></li>
            </ul>
          </li>

        </ul>
      </nav>
      <nav data-spollers="580,max" class="inner-footer__menu menu-footer">
        <button  data-spoller class="menu-footer__btn">Для клиента</button>
        <ul class="menu-footer__list menu-for-clients">
          <li class="menu-footer__item"><a href="#" class="menu-footer__link">Как купить</a></li>
          <li class="menu-footer__item"><a href="#" class="menu-footer__link">Доставка и оплата</a></li>
          <li class="menu-footer__item"><a href="#" class="menu-footer__link">Кредит</a></li>
          <li class="menu-footer__item"><a href="#" class="menu-footer__link">Политика конфиденциальности</a>
          </li>
          <li class="menu-footer__item"><a href="#" class="menu-footer__link">Вопросы и ответы (F.A.Q.)</a>
          </li>
          <li class="menu-footer__item"><a href="#" class="menu-footer__link">Сервис и гарантия</a></li>
        </ul>
      </nav>
      <nav data-spollers="580,max" class="inner-footer__menu menu-footer ">
        <button data-spoller class="menu-footer__btn">О магазине</button>
        <ul class="menu-footer__list menu-shop ">
          <li class="menu-footer__item"><a href="#" class="menu-footer__link">Отзывы</a></li>
          <li class="menu-footer__item"><a href="#" class="menu-footer__link">Наши преимущества</a></li>
          <li class="menu-footer__item"><a href="#" class="menu-footer__link">История компании</a></li>
          <li class="menu-footer__item"><a href="#" class="menu-footer__link">Сотрудничество</a></li>
          <li class="menu-footer__item"><a href="#" class="menu-footer__link">Партнёрская программа</a></li>
          <li class="menu-footer__item"><a href="#" class="menu-footer__link">Вакансии</a></li>
        </ul>
      </nav>
      <nav data-spollers="580,max" class="inner-footer__menu menu-footer">
        <button data-spoller class="menu-footer__btn">Сотрудничество</button>
        <ul class="menu-footer__list menu-cooperation">
          <li class="menu-footer__item"><a href="#" class="menu-footer__link"></a></li>
          <li class="menu-footer__item"><a href="#" class="menu-footer__link">Оптом</a></li>
          <li class="menu-footer__item"><a href="#" class="menu-footer__link">Дропшиппинг</a></li>
        </ul>
      </nav>
    </div>
    <div class="footer__info info-footer">
      <hr class="info-footer__line">
      <div class="info-footer__block block-info-footer">
        <a href="#" class="block-info-footer__text">SmartТехника © 2021 Все права защищены</a>
        <div class="block-info-footer__media media-info">
          <a href="#"  class="media-info__icon media-info__twitter _icon-twitter"></a>
          <a href="#"  class="media-info__icon media-info__facebook _icon-facebook"></a>
          <a href="#"  class="media-info__icon media-info__vk _icon-vk"></a>
          <a href="#"  class="media-info__icon media-info__instagram _icon-instagram"></a>
        </div>
        <a href="#" class="block-info-footer__web">Разработка: websl.ru</a>
      </div>
    </div>
  </div>
  <!-- <div data-spollers="767.98,max" class="block">
      <button data-spoller class="block__title">кнопка 1</button>
      <div class="block__text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores, debitis.</div>
  </div> -->
</footer>
