*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  color: #070C11;
  line-height: 1;
  font-family: "Exo";
  font-size: 1rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "Exo";
  font-size: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: inherit;
}

a {
  color: inherit;
}

a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

body {
  font-family: "Exo";
  font-size: 1rem;
  color: #070C11;
}

body._lock {
  overflow: hidden;
}

[class*=__container] {
  max-width: 81.25rem;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  margin: 0 auto;
  padding: 0 0.9375rem;
}

.header__body {
  background: #0E1821;
  margin: 0.625rem 0 1.25rem 0;
  color: #fff;
  font-weight: 500;
}

.header__hamburger-menu {
  display: none;
}

.header__hamburger-menu .menu__icon,
.header__hamburger-menu::after,
.header__hamburger-menu::before {
  left: 0;
  position: absolute;
  height: 18%;
  width: 100%;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  background-color: #000;
}

.header__hamburger-menu::after,
.header__hamburger-menu::before {
  content: "";
}

.header__hamburger-menu::after {
  bottom: 0;
}

.header__hamburger-menu::before {
  top: 0;
}

.header__hamburger-menu .menu__icon {
  top: 50%;
  -webkit-transform: scale(1) translate(0px, -50%);
  -ms-transform: scale(1) translate(0px, -50%);
  transform: scale(1) translate(0px, -50%);
}

.header .svg-header:hover {
  color: red;
  -webkit-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  transition-duration: 0.2s;
}

/* =========================================== */

.top-header {
  position: relative;
}

.top-header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  min-height: 5rem;
}

.top-header__logo {
  color: #2A5275;
}

.top-header__phones {
  font-weight: 500;
}

.top-header__actions {
  position: relative;
}

/* =========================================== */

.phones-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-column-gap: 1.375rem;
  -moz-column-gap: 1.375rem;
  column-gap: 1.375rem;
  row-gap: 0.5rem;
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
}

.phones-top__item_grey {
  color: #838688;
}

.phones-top__link {
  position: relative;
}

.phones-top__link:before {
  content: "";
  bottom: 0;
  left: 0;
  position: absolute;
  width: 0%;
  height: 0.125rem;
  background-color: #000;
  -webkit-transition: 0.25s;
  -o-transition: 0.25s;
  transition: 0.25s;
}

.phones-top__link:hover::before {
  width: 100%;
}

/* =========================================== */

.actions-top-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 0.375rem;
}

.actions-top-header__eye {
  width: 3rem;
  height: 3rem;
}

.actions-top-header__like {
  width: 3rem;
  height: 3rem;
  position: relative;
}

.actions-top-header__like span {
  position: absolute;
  width: 0.875rem;
  height: 0.875rem;
  background-color: orange;
  font-size: 0.5rem;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  top: 0.5rem;
  right: 0.4375rem;
  color: #fff;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.actions-top-header__compare {
  width: 3rem;
  height: 3rem;
  text-align: center;
  line-height: 3em;
}

.actions-top-header__cart {
  width: 3rem;
  height: 3rem;
  text-align: center;
  line-height: 3em;
  position: relative;
  /*
      @media (max-width: $mobile) {
          display: none;
      } */
}

.actions-top-header__cart span {
  position: absolute;
  width: 0.875rem;
  height: 0.875rem;
  background-color: orange;
  font-size: 0.5rem;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  top: 0.5rem;
  right: 0.4375rem;
  color: #fff;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.actions-top-header__log-in {
  background: #2A5275;
  border-radius: 4px;
  color: white;
  margin-left: 0.9375rem;
  font-weight: 500;
  padding: 0.875rem 1.375rem;
}

.actions-top-header__log-in:hover {
  background-color: #35648e;
  -webkit-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  transition-duration: 0.2s;
}

/* =========================================== */

.search-header {
  border-bottom: 1px solid #C8CACB;
  margin-right: 0.25rem;
}

.search-header__button {
  width: 3rem;
  height: 3rem;
  font-size: 1.25rem;
}

.search-header__input {
  width: 3.6875rem;
}

/* =========================================== */

.body-header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 9.0625rem;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  min-height: 3.75rem;
}

.body-header__burger {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
}

/* =========================================== */

.burger-header__link {
  padding-left: 0.5rem;
}

/* =========================================== */

.menu-header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
  align-content: center;
  row-gap: 0.5rem;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.menu-header__link {
  position: relative;
}

.menu-header__link:before {
  content: "";
  bottom: 0;
  left: 0;
  position: absolute;
  width: 0%;
  height: 0.125rem;
  background-color: #fff;
  -webkit-transition: 0.25s;
  -o-transition: 0.25s;
  transition: 0.25s;
}

.menu-header__link:hover::before {
  width: 100%;
}

/* =========================================== */

.catalog-header {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
}

.catalog-header__list {
  position: relative;
}

.catalog-header__link span {
  margin-left: 0.5rem;
}

/* =========================================== */

.sub-menu__list {
  display: none;
  position: absolute;
  z-index: 15;
  top: 1.25rem;
  padding-top: 1.25rem;
  left: -0.9375rem;
}

body.mouse .catalog-header__list:hover .sub-menu__list {
  display: block;
}

.sub-menu__item {
  position: relative;
  background: #EDF2F6;
  line-height: 3rem;
  font-weight: 500;
}

.sub-menu__item:hover {
  background-color: #DAE4ED;
}

.sub-menu__link {
  color: #070C11;
}

.sub-menu__link span {
  margin-left: 2.5rem;
}

.sub-menu__img {
  padding-right: 0.625rem;
  padding-left: 0.25rem;
  position: absolute;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
}

.sub-menu__list.open {
  display: block;
}

/* =========================================== */

/* =========================================== */

.arrow {
  display: none;
  width: 0;
  height: 0;
  border-top: 8px solid #fff;
  border-right: 8px solid transparent;
  border-left: 8px solid transparent;
  top: 0.5rem;
  left: 9.0625rem;
  position: absolute;
}

.arrow.active {
  -webkit-transform: rotate(-180deg);
  -ms-transform: rotate(-180deg);
  transform: rotate(-180deg);
}

body.touch .arrow {
  display: block;
}

.serch-input {
  display: none;
  position: absolute;
  right: 10%;
  bottom: -40%;
  z-index: 10;
  background-color: #fff;
  color: #495057;
  border: 1px solid #eaeaea;
  border-radius: 4px;
  font-size: 1.25rem;
  line-height: 2rem;
}

.serch-input__btn {
  padding-left: 20px;
}

.top-header .active-search {
  display: block;
}

/*.actions-top-header .search-active {
  background-image: url("../img/svgicons/close.svg");
  background-position: center;
  background-repeat: no-repeat;
  height: 2.25rem;
}*/

.page__products {
  margin-top: 40px;
}

.products-block__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
  -ms-flex-align: baseline;
  align-items: baseline;
  margin-bottom: 2.5rem;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.products-block__title {
  font-weight: 700;
  font-size: 2.25rem;
  line-height: 2.9375rem;
  color: #070C11;
  margin-right: 1.875rem;
}

.products-block__more {
  font-size: 1rem;
  line-height: 1.1875rem;
  color: #2A5275;
}

/*.products-block__more:after {
  content: url("../img/svgicons/arrow-right.svg");
  margin-left: 0.125em;
  display: inline-block;
  width: 13px;
}*/

.products-block__body {
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 1.25rem;
  /*  @media (max-width: 1242px) {
      grid-template-columns: repeat(3, minmax(280px, 1fr));
  }
  @media (max-width: 910px) {
      grid-template-columns: repeat(2, minmax(280px, 1fr));
  }  */
}

.product-card {
  height: 100%;
  padding: 0.9375rem 1.25rem;
  -webkit-box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: minmax(100px, 240px) 1fr;
  grid-template-rows: minmax(100px, 240px) 1fr;
  position: relative;
}

.product-card__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.product-card__img {
  height: 100%;
  -ms-grid-column-align: center;
  justify-self: center;
  margin-bottom: 0.625rem;
}

.product-card__img img {
  max-width: 100%;
}

.product-card__title {
  font-size: 1rem;
  line-height: 1.3125rem;
  color: #838688;
}

.product-card__describe {
  padding: 0.625rem 0 1.25rem 0;
  font-size: 1.25rem;
  line-height: 1.625rem;
  color: #070C11;
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
}

.actions-card {
  margin: 1.25rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.actions-card__like {
  padding: 0.9375rem;
  border: 1px solid #C8CACB;
  border-radius: 4px;
  /* divider */
  color: #C8CACB;
}

.actions-card__like:hover {
  color: #070C11;
}

.actions-card__compare {
  padding: 0.9375rem;
  border: 1px solid #C8CACB;
  border-radius: 4px;
  color: #C8CACB;
}

.actions-card__compare:hover {
  color: #070C11;
}

.actions-card__act {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0.625rem;
}

.rating {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  font-size: 2rem;
  line-height: 0.75;
}

.rating__body {
  position: relative;
}

.rating__body::before {
  display: block;
  content: "★★★★★";
  color: #EAEAF0;
}

.rating__active {
  position: absolute;
  width: 10%;
  height: 100%;
  top: 0;
  left: 0;
  overflow: hidden;
}

.rating__active::before {
  content: "★★★★★";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  color: #ffd300;
}

.rating__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.rating__item {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 20%;
  flex: 0 0 20%;
  height: 100%;
  opacity: 0;
}

.rating__value {
  font-size: 50%;
  line-height: 1;
  padding: 0 0 0 10px;
  display: none;
}

.rating__info {
  font-size: 1rem;
  line-height: 1.3125rem;
  margin-left: 0.625rem;
}

.rating__info._icon-message::before {
  margin-right: 0.5rem;
  vertical-align: middle;
}

.footer-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  gap: 0.625rem;
}

.footer-card__button_white {
  font-weight: 700;
  font-size: 1rem;
  line-height: 1.3125rem;
  color: #4878A6;
  border: 1px solid #4878A6;
  border-radius: 4px;
  padding: 0.84375rem 1.75rem;
}

.footer-card__button_white:hover {
  background: #4878A6;
  color: #fff;
}

.footer-card__button_blue {
  background: #4878A6;
  border-radius: 4px;
  color: #fff;
  border: 1px solid #4878A6;
  padding: 0.875rem;
}

.footer-card__button_blue:hover {
  background: #fff;
  color: #4878A6;
}

.price-card__previous {
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
  -webkit-text-decoration-line: line-through;
  text-decoration-line: line-through;
  color: #838688;
}

.price-card__current {
  font-weight: 700;
  font-size: 24px;
  line-height: 1.9375rem;
  color: #070C11;
  padding-bottom: 0.3125rem;
}

.price-card__aktsiya {
  background: #F37748;
  border-radius: 14px;
  color: #fff;
  padding: 0.1875rem 0.5rem 0.1875rem 0.3125rem;
  font-size: 0.875rem;
  line-height: 1.125rem;
  font-weight: 700;
}

.price-card__aktsiya span {
  background: #FFFFFF;
  border-radius: 23px;
  color: #070C11;
  font-weight: 400;
  padding: 0 0.25rem;
}

.mark-card__new {
  background: #48A69B;
  border-radius: 4px;
  padding: 0.3125rem 1rem;
  position: absolute;
  top: 0.625rem;
  right: 0.625rem;
  font-size: 1rem;
  line-height: 1.3125rem;
  color: #EDF2F6;
}

.mark-card__bestseller {
  background: #D73838;
  border-radius: 4px;
  padding: 0.3125rem 1rem;
  position: absolute;
  top: 3.125rem;
  right: 0.625rem;
  font-size: 1rem;
  line-height: 1.3125rem;
  color: #EDF2F6;
}

.exist {
  top: 0.625rem;
}

.footer {
  background: #EDF2F6;
  padding: 2.5rem 0;
}

.inner-footer {
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
  row-gap: 2.8125rem;
  padding-left: 2.8125rem;
}

.menu-footer__item {
  margin-bottom: 0.1875rem;
}

.menu-footer__item:hover {
  text-decoration: underline;
}

.menu-footer__btn {
  font-weight: 700;
  font-size: 20px;
  color: #838688;
  position: relative;
}

.menu-footer__link {
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.3125rem;
  color: #070C11;
}

.menu-footer__link._icon-logo:before {
  font-size: 60px;
  color: #2A5275;
}

.footer-contact__list {
  margin: 1.25rem 0;
}

.footer-contact__item {
  font-weight: 600;
  font-size: 1.25rem;
  line-height: 1.25rem;
  color: #070C11;
  margin-bottom: 10px;
}

.footer-contact__item:hover {
  text-decoration: underline;
}

.footer-contact__link_grey {
  color: #838688;
  font-size: 1rem;
  font-weight: 400;
}

.footer-location__item:hover {
  text-decoration: underline;
}


.info-footer__line {
  background-color: #C8CACB;
  height: 2px;
  margin: 2.5rem 0;
}

.block-info-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  row-gap: 0.625rem;
}

.block-info-footer__text {
  color: #838688;
}

.block-info-footer__web {
  color: #838688;
}

.media-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1.875rem;
}

.media-info__icon {
  color: #4878A6;
}

/* .block__title{
    position: relative;
}

.block._init .block__title{
    cursor: pointer;
} */

/*
.block._init .block__title::before,
.block._init .block__title::after {
    content: '';
    width: 20px;
    height: 1px;
    background-color: red;
    position: absolute;
    right: 10px;
    top: 20px;
    transition: transform 0.3s ease 0s;
} */

/* .block._init .block__title::after {
    transform: rotate(-90deg);
}

.block._init .block__title._active::after {
    transform: rotate(0deg);
}
 */

.catalog__title {
  font-weight: 700;
  margin: 1.5625rem 0 2.625rem;
}

.breadcrumbs {
  white-space: nowrap;
  overflow: auto;
  height: 1.375rem;
}

.breadcrumbs__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.breadcrumbs__link {
  line-height: 1.1875rem;
  font-size: 1.0625rem;
}

/*.breadcrumbs__link:after {
  content: url("../img/svgicons/arrow-right_black.svg");
  margin: 0 0.625em;
  display: inline-block;
  width: 13px;
}*/

.breadcrumbs__current {
  font-size: 1.0625rem;
  color: #838688;
  line-height: 1.1875rem;
}

.catalog__body {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 19.375rem 1fr;
  grid-template-columns: 19.375rem 1fr;
  gap: 1.25rem;
}

.body-catalog__control {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.body-catalog__products {
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(16.875rem, 1fr));
  gap: 1.25rem;
  margin: 1.25rem 0;
}

.body-catalog__footer {
  margin-bottom: 5rem;
}

.body-catalog__more {
  min-height: 4.5rem;
  border: 2px solid #EAEAF0;
  border-radius: 0px 0px 8px 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 2.5rem;
}

.more-catalog__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 0.625rem;
}

/*.more-catalog__link::after {
  content: url("../img/svgicons/plus.svg");
  width: 1.25rem;
  height: 1.25rem;
  display: inline-block;
}*/

.pagging {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.pagging__arrow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 47px;
  height: 47px;
  border: 1px solid #EAEAF0;
  border-radius: 4px;
}

.pagging__arrow_left {
  margin-right: 0.625rem;
}

/*.pagging__arrow_left::after {
  content: url("../img/svgicons/arrow-right_black.svg");
  width: 1.25rem;
  height: 1.25rem;
  display: inline-block;
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}*/

.pagging__arrow_right {
  margin-left: 0.625rem;
}

/*.pagging__arrow_right::after {
  content: url("../img/svgicons/arrow-right_black.svg");
  width: 1.25rem;
  height: 1.25rem;
  display: inline-block;
}*/

.pagging__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0.625rem;
}
