.cart-items {
  max-width: 1100px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  gap: 30px;
}

.cart-items-products {
  min-width: 800px;

}

.cart-items-info {
  margin-top: 24px;
  padding: 18px;
  background-color: rgb(249, 249, 249);
  max-height: 260px;
}

.cart-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 15px;
}

.cart-item-hr {
  background-color: #C8CACB;
  height: 1px;
  margin: 24px 0 24px;
}

.product-title {
  word-wrap: break-word;
  text-align: left;
  font-size: 18px;
}

.product-price {
  font-size: 24px;
  line-height: 30px;
}

.quantity-controls {
  display: flex;
  flex-direction: column;
  gap: 4px;
  font-size: 24px;
}

.product-delete {
  cursor: pointer;
}

.cart-items-info-block {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}

.cart-items-info-title {
  text-transform: uppercase;
}
