<section class="page-sale">
  <div class="page-sale__container sale-page">
    <div class="sale-page__block block-sale">
      <div class="block-sale__discounts discounts-sale">
        <div class="discounts-sale__text">
          <a href="#">Распродажа<br>до — 50%</a>
        </div>
        <div class="discounts-sale__img">
          <a href=""><picture><source srcset="/percent.webp" type="image/webp"><img src="/percent.png" width="139px" alt="segway"></picture></a>
        </div>
      </div>
      <div class="block-sale__offer offer-sale">
        <div class="offer-sale__text">
          <a href="#">Smart Balance Premium<br>по специальной цене</a>
        </div>
        <div class="offer-sale__img">
          <a href=""><picture><source srcset="/watch1.webp" type="image/webp"><img src="/watch1.png" width="139px" alt="watch"></picture></a>
        </div>
      </div>
    </div>
  </div>
</section>
