<article class="product-card">
  <div class="product-card__img">
    <a href="product.html"><picture><source [srcset]="productCard?.imageUrl" type="image/webp"><img [src]="productCard?.imageUrl" alt="Sigvay" class="img-card"></picture></a>
  </div>
  <div class="product-card__body">
    <div class="product-card__title">{{ productCard?.title }}</div>
    <div class="product-card__describe"><a href="product.html">{{ productCard?.describe }}</a> </div>
    <div class="actions-card__rating rating rating_set">
      <div class="rating__body">
        <div class="rating__active"></div>
        <div class="rating__items">
          <input type="radio" class="rating__item" value="1" name="rating">
          <input type="radio" class="rating__item" value="2" name="rating">
          <input type="radio" class="rating__item" value="3" name="rating">
          <input type="radio" class="rating__item" value="4" name="rating">
          <input type="radio" class="rating__item" value="5" name="rating">
        </div>
      </div>
      <div class="rating__value">{{ productCard?.ratingValue }}</div>
      <div class="rating__info _icon-message">{{ productCard?.ratingInfo }}</div>
    </div>
    <div class="product-card__actions actions-card">
      <div class="actions-card__price price-card">
        <ul class="price-card__all">
          <li class="price-card__previous">{{ productCard?.pricePrevious }} грн</li>
          <li class="price-card__current">{{ productCard?.priceCurrent }} грн</li>
          <li class="price-card__aktsiya">
            <span>{{ productCard?.priceAktsiya }}</span> — {{productCard?.priceDifference}} грн
          </li>
        </ul>
      </div>
      <div class="actions-card__act">
        <div (click)="addProductToCart(productCard)" class="actions-card__like _icon-like"></div>
        <div class="actions-card__compare _icon-compare"></div>
      </div>
    </div>
    <div class="product-card__footer footer-card">
      <button class="footer-card__button_white">Придбати в 1 клік</button>
      <button class="footer-card__button_blue _icon-cart"></button>
    </div>
  </div>
  @if (productCard?.isNew) {
    <div class="mark-card__new">Новинка</div>
  }
  @if (productCard?.isBestseller) {
    <div class="mark-card__bestseller">Хіт продажу</div>
  }
</article>
