<h2 mat-dialog-title>Корзина</h2>

<mat-dialog-content>
  <p>В вашей корзине {{medopticaStore.selectedProductCards.length}} товара.</p>

  <ul>
    @for (productCard of medopticaStore.selectedProductCards; let idx = $index; track idx;) {
      <li>{{ productCard.title }} — {{productCard.priceCurrent}}</li>
    }
  </ul>

  <p><strong>Итого: 2150 ₴</strong></p>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button (click)="close()">Закрыть</button>
  <button routerLink="/checkout" mat-flat-button color="primary">Оформить заказ</button>
</mat-dialog-actions>
