<h2 mat-dialog-title>Кошик</h2>

<mat-dialog-content>
  <p>У вашому кошику {{ groupedItems.length }} товар(ів)</p>

  <div class="cart-items">
    @for (groupedItem of groupedItems; track groupedItem) {
      <div class="cart-item">
        <img [src]="groupedItem.productCard.imageUrl" alt="{{ groupedItem.productCard.title }}" class="product-image"/>
        <div class="product-info">
          <h3 class="product-title">{{ groupedItem.productCard.title }}</h3>
          <p class="product-price">{{ groupedItem.productCard.priceCurrent }} ₴ x {{ groupedItem.quantity }}</p>

          <div class="quantity-controls">
            <button mat-mini-button color="primary" (click)="decrease(groupedItem)">-</button>
            <span>{{ groupedItem.quantity }}</span>
            <button mat-mini-button color="primary" (click)="increase(groupedItem)">+</button>
          </div>
        </div>
      </div>
    }
  </div>

  <p class="total"><strong>Разом: {{ total | number:'1.0-0' }} ₴</strong></p>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button (click)="close()">Закрити</button>
  <button
    [disabled]="groupedItems.length <= 0"
    routerLink="/checkout"
    mat-flat-button mat-dialog-close
    color="primary">Оформити замовлення</button>
</mat-dialog-actions>
